
body{
    margin:0px;
    text-align:center;
    font-family: 'Merriweather', serif;
    color: #40514e
}
p{
    line-height: 2;
}
h1{
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;


}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding-bottom: 10px;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}
.top-container{
    background-color: #EAF9F3;
    padding-top: 100px;
    position: relative;
}
hr{
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px ;
    border-color: #EAF6F6;
    margin: 100px auto 100px auto;
    
}
.top-cloud{
    position:absolute;
    right:300px;
    top:40px;
}
.bottom-cloud{
    position:absolute;
    left: 250px;
    bottom: 300px;

}
.piyush-profile{
    height: 300px;
    width: 300px;
}
.middle-container{
    margin:50px auto 100px auto;
}
.skill-row{
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.computer{
    width:25%;
    float: left;
    margin-right:30px;
}
.problem-solve{
    width:25%;
    float: right;
    margin-left:30px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom-container{
    padding:50px 0 20px;
    background-color: #66BFBF;

}
.footer-link{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    
}
.copyright{
    margin: 25px auto 25px auto;
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0 20px 0;
}
.Intro{
    width: 30%;
    margin:auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px auto;
}
